*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background: #efefef;
}

button,
input {
    padding: 4px 8px;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul {
    padding-left: 24px;
}

img {
    width: 100%;
    display: block;
}

.mv {
    height: 50vh;
    background: #dddddd center/cover;
    position: relative;
    overflow: hidden;
}

.mv:hover .circle {
    opacity: 1;
}

.circle {
    transform: translate(-50%, -50%);
    position: absolute;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    background: radial-gradient(#000 0, rgba(255, 255, 255, 0) 300px);
    pointer-events: none;
    opacity: 0;
    transition: opacity 1s;
}

.title {
    padding: 16px;
    background: #000;
    color: #fff;
    width: fit-content;
    margin: -40px auto 0;
    font-size: 32px;
    font-weight: bold;
    font-variant-ligatures: common-ligatures;
    position: relative;
}

.flex {
    width: 1000px;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    align-items: start;
    position: relative;
}

.flex>div {
    padding: 32px;
    box-shadow: 0 0 8px #acacac;
    background: #fff;
}

.flex>div:nth-of-type(1):nth-of-type(1) {
    flex: 0 0 600px;
}

.flex>div:nth-of-type(1)>* {
    margin: 16px 0;
}

.flex>div:nth-of-type(1)>*:first-child {
    margin-top: 0;
}

.flex>div:nth-of-type(1)>*:last-child {
    margin-bottom: 0;
}

.flex>div:nth-of-type(1)>*>* {
    margin: 8px 0;
}

.flex>div:nth-of-type(1)>*>*:first-child {
    margin-top: 0;
}

.flex>div:nth-of-type(1)>*>*:last-child {
    margin-bottom: 0;
}


.flex>div:nth-of-type(1):nth-of-type(1)>p:first-child:first-letter {
    font-size: 2.2lh;
    float: left;
    margin: 0 14px;
}

.flex>div:nth-of-type(2) {
    flex: 0 0 320px;
    position: sticky;
    top: 16px;
    right: 0;
}

.flex>div:nth-of-type(2)>* {
    margin: 8px 0;
}

.flex>div:nth-of-type(2)>*:first-child {
    margin-top: 0;
}

.flex>div:nth-of-type(2)>*:last-child {
    margin-bottom: 0;
}

#dialog {
    margin: auto;
}

#dialog img {
    height: 70vh;
}