# GCP configuration
GCP_PROJECT=changeme
GCP_ZONE=us-central1-a
GCP_VM_NAME=wsc-training
GCP_MACHINE_TYPE=e2-micro

# MariaDB credentials
MYSQL_ROOT_PASSWORD=changeme
MYSQL_USER=ws01
MYSQL_PASSWORD=changeme

# SSH server credentials
SSH_USER=ws01
SSH_PASSWORD=changeme
# Set to true to allow sudo access inside the SSH container
SSH_SUDO_ACCESS=false

# Host port mapping (change to avoid conflicts or for security)
HTTP_PORT=48091
SSH_PORT=39722
MARIADB_PORT=41536
PMA_PORT=40327
